@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --font-Inter: 'Inter', sans-serif;
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --DarkGrey: hsl(0, 0%, 12%);
  --OffBlack: hsl(0, 0%, 8%);
}

/*      Presets __________________________________________*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--White);
  text-decoration: none;
}

html {
  height: 100vh;
  background-color: var(--OffBlack);
  font-family: var(--font-Inter);
  font-size: 14px;
}

/*      Main __________________________________________*/
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 24.7rem;
  height: 39.5rem;
  margin: 11.15rem auto 0 auto;
  border-radius: 0.8rem;
  background: var(--DarkGrey);
  padding: 2.6rem;
}

/*      Profile __________________________________________*/
.profile {
  text-align: center;
}

.profile-img {
  width: 5.7rem;
  border-radius: 50%;
  margin-bottom: 1.55rem;
}

.profile-title {
  margin-bottom: 0.62rem;
  font-size: 1.55rem;
  font-weight: 500;
}

.profile-info {
  margin-bottom: 1.8rem;
  font-size: 0.85rem;
  color: var(--Green);
}

blockquote {
  font-size: 0.89rem;
}

/*      Nav    __________________________________________*/
nav {
  flex-basis: max-content;
  width: 100%;
  margin-top: 1.7rem;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-link {
  display: block;
  margin-bottom: 1rem;
  padding: 0.93rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--Grey);
  font-size: 0.85rem;
  font-weight: 700;
  text-align: center;
  transition: 0.3s ease;
}

.nav-item {
  display: block;
}

.nav-link:hover {
  background: var(--White);
  color: var(--Grey);
  cursor: pointer;
}

.nav-link:active {
  background: var(--Green);
  color: var(--Grey);
}

/*      Footer __________________________________________*/
.attribution {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: var(--DarkGrey);
  font-size: 1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*  MEDIA QUERIES
    Mobile: 375px  _____________________*/

@media screen and (max-width: 376px) {
  html {
    font-size: 15px;
  }
  main {
    width: 22rem;
    margin-block: 7.5rem;
    height: 36.5rem;
    padding: 1.6rem;
    padding-bottom: 0;
  }

  .profile-img {
    margin-bottom: 1.4rem;
  }

  .nav-list,
  nav {
    height: max-content;
    padding-bottom: 0.3rem;
  }

  nav {
    margin-top: 0;
  }

  .attribution {
    font-size: 0.7rem;
    padding-inline: 0;
  }
}
